# Archivos y carpetas generadas automáticamente por Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

# Archivos locales de sistema
*.swp
*.tmp
*.bak
*.DS_Store

# Configuraciones de Visual Studio / Rider
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs

# Archivos de colisiones de merge
*.orig

# Cache de Unity
sysinfo.txt

# Carpetas ocultas de sistema
.idea/
